aquaponics.json
[{"type":"tab","id":"621ad2ed.9de52c","label":"Controls"},{"type":"tab","id":"afbbe313.50442","label":"System"},{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c9fdfb2c.360208","type":"twitter-credentials","screen_name":"@garethcoleman"},{"id":"ba386057.845d3","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"318ba1e0.ce745e","type":"serial-port","serialport":"/dev/rfm12b.0.1","serialbaud":"38400","newline":"\\n","addchar":"true"},{"id":"27f39bc7.d80c64","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":486.9047546386719,"y":247.33330249786377,"z":"621ad2ed.9de52c","wires":[["fd48ba35.02b748"]]},{"id":"1810851.fe7ef7b","type":"inject","name":"Listen to Light Level","topic":"test_this","payload":"Light Level","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.22727584838867,"y":34.14718437194824,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"64055119.9bfab","type":"inject","name":"STOP LISTENING","topic":"test_this","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":114.41776657104492,"y":249.44479370117188,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"c1f297f2.3e0d68","type":"inject","name":"Listen to Air Temperature","topic":"test_this","payload":"Air Temperature","payloadType":"string","repeat":"","crontab":"","once":false,"x":142.22727584838867,"y":70.14718437194824,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"20726001.df8da","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":225.81251525878906,"y":345.4473571777344,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"e9bc2205.1643e","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} C","x":248.5109100341797,"y":420.3968858718872,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"fd48ba35.02b748","type":"debug","name":"Status Data","active":true,"complete":"false","x":617.65478515625,"y":250.08336353302002,"z":"621ad2ed.9de52c","wires":[]},{"id":"2a1302ed.d5ecfe","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":94.18685913085938,"y":350.0000352859497,"z":"621ad2ed.9de52c","wires":[["20726001.df8da"]]},{"id":"239c1059.dc63f","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":74.5,"y":420.5080156326294,"z":"621ad2ed.9de52c","wires":[["e9bc2205.1643e"]]},{"id":"d4050e5c.2bfaf","type":"mqtt in","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":96.40908813476562,"y":384.7302141189575,"z":"621ad2ed.9de52c","wires":[["57302e1f.a8cfd"]]},{"id":"97c2b529.683d48","type":"inject","name":"Listen to Humidity","topic":"test_this","payload":"Humidity","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.72727584838867,"y":110.1471996307373,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"57302e1f.a8cfd","type":"template","name":"%RH Output","template":"{{topic}}: {{payload}} %RH","x":230.76623916625977,"y":384.1746406555176,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"f1f43b82.0e0bc8","type":"inject","name":"Listen to Battery","topic":"test_this","payload":"Battery","payloadType":"string","repeat":"","crontab":"","once":false,"x":109.72727584838867,"y":189.0836944580078,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"203716f4.dfc8ea","type":"mqtt in","name":"","topic":"Battery","broker":"817e85f1.7e8178","x":94.85710144042969,"y":314.90915393829346,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"b8914bde.476eb8","type":"inject","name":"Enable","topic":"","payload":"on","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.75,"y":521.2500076293945,"z":"621ad2ed.9de52c","wires":[["adb75c93.5248a"]]},{"id":"318fbb78.ce7044","type":"inject","name":"Listen to pH","topic":"test_this","payload":"pH","payloadType":"string","repeat":"","crontab":"","once":false,"x":95,"y":150,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"b06ece1d.4f913","type":"mqtt in","name":"","topic":"pH","broker":"817e85f1.7e8178","x":93,"y":464,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"adb75c93.5248a","type":"mqtt out","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":378,"y":548,"z":"621ad2ed.9de52c","wires":[]},{"id":"9f21e6d1.60de18","type":"inject","name":"Disable","topic":"Text Alerts","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":118,"y":571,"z":"621ad2ed.9de52c","wires":[["adb75c93.5248a"]]},{"id":"794efc0d.86b104","type":"inject","name":"Test Light Alarm","topic":"Alert","payload":"Light","payloadType":"string","repeat":"","crontab":"","once":false,"x":128,"y":638,"z":"621ad2ed.9de52c","wires":[["a4ed038.f5b13"]]},{"id":"a4ed038.f5b13","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":405,"y":664,"z":"621ad2ed.9de52c","wires":[]},{"id":"c0c26e9f.3f3d9","type":"inject","name":"Test Temp Alarm","topic":"Alert","payload":"Temp","payloadType":"string","repeat":"","crontab":"","once":false,"x":130,"y":699,"z":"621ad2ed.9de52c","wires":[["a4ed038.f5b13"]]},{"id":"95550115.6aab","type":"mqtt out","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":779,"y":398,"z":"afbbe313.50442","wires":[]},{"id":"5934c1b5.a6cb4","type":"mqtt out","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":786,"y":347,"z":"afbbe313.50442","wires":[]},{"id":"625743d9.9da8bc","type":"function","name":"Parse pH","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\n\nvar pHMSB = dataArray.pop();\nvar pHLSB = dataArray.pop(); \nvar pH = 256* parseFloat(pHMSB)+ parseFloat(pHLSB);\n\nvar pHMsg  = {payload: pH}; \n\nreturn [pHMsg];","outputs":"1","x":477,"y":296,"z":"afbbe313.50442","wires":[["d07bd131.2f843"]]},{"id":"7cd65146.8329b","type":"debug","name":"Radio Monitor","active":false,"complete":"false","x":458,"y":153,"z":"afbbe313.50442","wires":[]},{"id":"c281dbfc.3d7e28","type":"function","name":"Scale Humidity","func":"/* \n\tRaw humidity reading is twice real reading\n*/\n\nvar humid = msg.payload;\nhumid = humid / 2;\n\nreturn {payload: humid};","outputs":1,"x":648,"y":348,"z":"afbbe313.50442","wires":[["5934c1b5.a6cb4"]]},{"id":"9caf2834.6350d8","type":"function","name":"Scale Temp","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nvar temp = msg.payload;\ntemp = temp / 10;\n\n\nreturn {payload: temp};","outputs":1,"x":645,"y":396,"z":"afbbe313.50442","wires":[["95550115.6aab"]]},{"id":"1d8a396c.e275c7","type":"mqtt in","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":135,"y":589,"z":"afbbe313.50442","wires":[["ee191438.11e6e8"]]},{"id":"a2fa63fa.5d05a","type":"function","name":"Raise Light Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 24) {\n\tmsg.payload = \"Temp\";\n\treturn msg;\n}\n","outputs":1,"x":321.77777099609375,"y":532.4920043945312,"z":"afbbe313.50442","wires":[["22a7a303.dd585c"]]},{"id":"1ef6c1ee.e1093e","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":132.77777099609375,"y":534.4920043945312,"z":"afbbe313.50442","wires":[["a2fa63fa.5d05a"]]},{"id":"22a7a303.dd585c","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":551.7777709960938,"y":557.4920043945312,"z":"afbbe313.50442","wires":[]},{"id":"7ae9f9a0.851608","type":"file","name":"Send Text Message","filename":"/var/spool/gammu/outbox/OUT07968915496.txt","appendNewline":false,"overwriteFile":false,"x":568.2500076293945,"y":715.5000114440918,"z":"afbbe313.50442","wires":[]},{"id":"3af2be94.c50d42","type":"mqtt in","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":155,"y":671.1746215820312,"z":"afbbe313.50442","wires":[["3c7d4c80.c382b4"]]},{"id":"95f7f784.6a0808","type":"debug","name":"System Monitor","active":true,"complete":"false","x":514,"y":38,"z":"afbbe313.50442","wires":[]},{"id":"640630a5.9bf9d","type":"inject","name":"Shutdown system","topic":"","payload":"Shutdown initiated","payloadType":"string","repeat":"","crontab":"","once":false,"x":123.90908813476562,"y":44,"z":"afbbe313.50442","wires":[["ba164f4d.45e9b"]]},{"id":"ba164f4d.45e9b","type":"exec","command":"sudo shutdown -h now","append":"","useSpawn":"","name":"Shutdown","x":313.2727355957031,"y":45.5,"z":"afbbe313.50442","wires":[["95f7f784.6a0808"],[],[]]},{"id":"b839f206.47c61","type":"function","name":"Parse Roomnode","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\n\nvar tempMSB = dataArray.pop();\nvar tempLSB = dataArray.pop(); \nvar humidity = dataArray.pop();\nvar temp = 256* parseFloat(tempMSB)+ parseFloat(tempLSB);\n\nvar humidityMsg = {payload: humidity}; \nvar tempMsg = {payload: temp};\n\nreturn [humidityMsg, tempMsg];","outputs":"2","x":478,"y":371,"z":"afbbe313.50442","wires":[["c281dbfc.3d7e28"],["9caf2834.6350d8"]]},{"id":"d07bd131.2f843","type":"function","name":"Scale pH","func":"/* \n\tRaw pH reading is 100x real reading\n*/\n\nvar pH = msg.payload;\npH = pH / 100;\n\nreturn {payload: pH};","outputs":1,"x":639,"y":292,"z":"afbbe313.50442","wires":[["4ef8e59f.b1071c"]]},{"id":"4ef8e59f.b1071c","type":"mqtt out","name":"","topic":"pH","broker":"817e85f1.7e8178","x":784,"y":292,"z":"afbbe313.50442","wires":[]},{"id":"ee191438.11e6e8","type":"function","name":"Raise Temp Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 1000) {\n\tmsg.payload = \"Light\";\n\treturn msg;\n}","outputs":1,"x":323,"y":591,"z":"afbbe313.50442","wires":[["22a7a303.dd585c"]]},{"id":"3c7d4c80.c382b4","type":"function","name":"Raise alert","func":"var msg, textMsg;\ncontext.textEnabled = context.textEnabled || 'Off'\n\n// turn text messaging on or off\nif (msg.topic == 'Text Messaging') {\n\tcontext.textEnabled = msg.payload;\n\tmsg.payload = 'Text Messaging ' + msg.payload;\n}\n\n// raise an alert\nif (msg.topic == 'Alert') {\n\tmsg.payload = 'Help! ' + msg.payload + '!';\n\tif (context.textEnabled == 'on') {\n\t\ttextMsg = {payload: 'Texting texting ' + (msg.payload)};\n\t    msg.payload += ' (Sending text)';\n\t}\n}\n\nreturn [msg, textMsg];","outputs":"2","x":340,"y":693,"z":"afbbe313.50442","wires":[["d8c06be8.273f98"],["7ae9f9a0.851608"]]},{"id":"d8c06be8.273f98","type":"debug","name":"Alerts","active":true,"complete":"false","x":539,"y":651,"z":"afbbe313.50442","wires":[]},{"id":"719ded4f.8e6214","type":"mqtt in","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":144,"y":725,"z":"afbbe313.50442","wires":[["3c7d4c80.c382b4"]]},{"id":"d3ec0245.2c14","type":"switch","name":"","property":"payload","rules":[{"t":"regex","v":"4 bytes read\\s\\s\\s33 2"},{"t":"regex","v":"6 bytes read\\s\\s\\s3 4"},{"t":"regex","v":"6 bytes read\\s\\s\\s4 4"}],"checkall":"true","outputs":3,"x":277,"y":334,"z":"afbbe313.50442","wires":[["625743d9.9da8bc"],["b839f206.47c61"],["33f8a23.fcc075e"]]},{"id":"e019442b.1fe6b8","type":"exec","command":"/home/pi/rfm12b-linux/examples/bin/rfm12b_read","append":"","useSpawn":true,"name":"RFM12b","x":272,"y":158,"z":"afbbe313.50442","wires":[["7cd65146.8329b","ca5d83b3.35a28"],[],[]]},{"id":"138f26eb.ec70d9","type":"inject","name":"Start Receving","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":117,"y":155,"z":"afbbe313.50442","wires":[["e019442b.1fe6b8"]]},{"id":"50ab4cd7.af54b4","type":"mqtt out","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":786,"y":442,"z":"afbbe313.50442","wires":[]},{"id":"33f8a23.fcc075e","type":"function","name":"Parse lux","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\nvar luxGain = dataArray.pop();\nvar luxMSB = dataArray.pop();\nvar luxLSB = dataArray.pop(); \nif (luxGain = 0) {\n\tvar lux = 256 * parseFloat(luxMSB) + parseFloat(luxLSB);\n\t}\n\telse {\n\tvar lux = 16*(256 * parseFloat(luxMSB) + parseFloat(luxLSB));\n\t}\n\nvar lux = (luxGain * 256 * parseFloat(luxMSB)) + parseFloat(luxLSB);\n\nvar luxMsg  = {payload: lux}; \n\nreturn [luxMsg];","outputs":"1","x":439,"y":443,"z":"afbbe313.50442","wires":[["50ab4cd7.af54b4"]]},{"id":"ca5d83b3.35a28","type":"function","name":"Buffer to string","func":"\nmsg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"x":293.5,"y":252,"z":"afbbe313.50442","wires":[["d3ec0245.2c14"]]}]