aquaponics.json
[{"type":"tab","id":"621ad2ed.9de52c","label":"Controls"},{"type":"tab","id":"afbbe313.50442","label":"System"},{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"c9fdfb2c.360208","type":"twitter-credentials","screen_name":"@garethcoleman"},{"id":"ba386057.845d3","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"318ba1e0.ce745e","type":"serial-port","serialport":"/dev/rfm12b.0.1","serialbaud":"38400","newline":"\\n","addchar":"true"},{"id":"27f39bc7.d80c64","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":486.9047546386719,"y":247.33330249786377,"z":"621ad2ed.9de52c","wires":[["fd48ba35.02b748"]]},{"id":"1810851.fe7ef7b","type":"inject","name":"Listen to Light Level","topic":"test_this","payload":"Light Level","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.22727584838867,"y":34.14718437194824,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"64055119.9bfab","type":"inject","name":"STOP LISTENING","topic":"test_this","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":114.41776657104492,"y":249.44479370117188,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"c1f297f2.3e0d68","type":"inject","name":"Listen to Air Temperature","topic":"test_this","payload":"Air Temperature","payloadType":"string","repeat":"","crontab":"","once":false,"x":142.22727584838867,"y":70.14718437194824,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"20726001.df8da","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":225.81251525878906,"y":345.4473571777344,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"e9bc2205.1643e","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} °C","x":248.5109100341797,"y":420.3968858718872,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"fd48ba35.02b748","type":"debug","name":"Status Data","active":true,"complete":"false","x":617.65478515625,"y":250.08336353302002,"z":"621ad2ed.9de52c","wires":[]},{"id":"2a1302ed.d5ecfe","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":94.18685913085938,"y":350.0000352859497,"z":"621ad2ed.9de52c","wires":[["20726001.df8da"]]},{"id":"239c1059.dc63f","type":"mqtt in","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":94.5,"y":421.5080261230469,"z":"621ad2ed.9de52c","wires":[["e9bc2205.1643e"]]},{"id":"d4050e5c.2bfaf","type":"mqtt in","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":96.40908813476562,"y":384.7302141189575,"z":"621ad2ed.9de52c","wires":[["57302e1f.a8cfd"]]},{"id":"97c2b529.683d48","type":"inject","name":"Listen to Humidity","topic":"test_this","payload":"Humidity","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.72727584838867,"y":110.1471996307373,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"57302e1f.a8cfd","type":"template","name":"%RH Output","template":"{{topic}}: {{payload}} %RH","x":230.76623916625977,"y":384.1746406555176,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"f1f43b82.0e0bc8","type":"inject","name":"Listen to Voltage","topic":"test_this","payload":"Voltage","payloadType":"string","repeat":"","crontab":"","once":false,"x":109.72727584838867,"y":189.0836944580078,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"203716f4.dfc8ea","type":"mqtt in","name":"","topic":"Voltage","broker":"817e85f1.7e8178","x":94.85710144042969,"y":314.90915393829346,"z":"621ad2ed.9de52c","wires":[["be9afaa4.416508"]]},{"id":"b8914bde.476eb8","type":"inject","name":"Enable","topic":"","payload":"on","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.75,"y":521.2500076293945,"z":"621ad2ed.9de52c","wires":[["adb75c93.5248a"]]},{"id":"318fbb78.ce7044","type":"inject","name":"Listen to pH","topic":"test_this","payload":"pH","payloadType":"string","repeat":"","crontab":"","once":false,"x":95,"y":150,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"b06ece1d.4f913","type":"mqtt in","name":"","topic":"pH","broker":"817e85f1.7e8178","x":93,"y":464,"z":"621ad2ed.9de52c","wires":[["ffad7cc4.00528"]]},{"id":"adb75c93.5248a","type":"mqtt out","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":378,"y":548,"z":"621ad2ed.9de52c","wires":[]},{"id":"9f21e6d1.60de18","type":"inject","name":"Disable","topic":"Text Alerts","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":118,"y":571,"z":"621ad2ed.9de52c","wires":[["adb75c93.5248a"]]},{"id":"794efc0d.86b104","type":"inject","name":"Test Light Alarm","topic":"Alert","payload":"Light","payloadType":"string","repeat":"","crontab":"","once":false,"x":128,"y":638,"z":"621ad2ed.9de52c","wires":[["a4ed038.f5b13"]]},{"id":"a4ed038.f5b13","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":405,"y":664,"z":"621ad2ed.9de52c","wires":[]},{"id":"c0c26e9f.3f3d9","type":"inject","name":"Test Temp Alarm","topic":"Alert","payload":"Temp","payloadType":"string","repeat":"","crontab":"","once":false,"x":130,"y":699,"z":"621ad2ed.9de52c","wires":[["a4ed038.f5b13"]]},{"id":"95550115.6aab","type":"mqtt out","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":633,"y":338,"z":"afbbe313.50442","wires":[]},{"id":"5934c1b5.a6cb4","type":"mqtt out","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":632,"y":302,"z":"afbbe313.50442","wires":[]},{"id":"625743d9.9da8bc","type":"function","name":"Parse pH","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\n\nvar pHMSB = dataArray.pop();\nvar pHLSB = dataArray.pop(); \nvar pH = 256* parseFloat(pHMSB)+ parseFloat(pHLSB);\n\nvar pHMsg  = {payload: pH}; \n\nreturn [pHMsg];","outputs":"1","x":332,"y":480,"z":"afbbe313.50442","wires":[["d07bd131.2f843"]]},{"id":"7cd65146.8329b","type":"debug","name":"Radio Monitor","active":false,"complete":"false","x":516,"y":95,"z":"afbbe313.50442","wires":[]},{"id":"1d8a396c.e275c7","type":"mqtt in","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":135,"y":531,"z":"afbbe313.50442","wires":[["a2fa63fa.5d05a"]]},{"id":"a2fa63fa.5d05a","type":"function","name":"Raise Temp Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 28) {\n\tmsg.payload = \"Temp\";\n\treturn msg;\n}\n","outputs":1,"x":321.77777099609375,"y":532.4920043945312,"z":"afbbe313.50442","wires":[["22a7a303.dd585c"]]},{"id":"1ef6c1ee.e1093e","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":135.77777099609375,"y":589.4920043945312,"z":"afbbe313.50442","wires":[[]]},{"id":"22a7a303.dd585c","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":551.7777709960938,"y":557.4920043945312,"z":"afbbe313.50442","wires":[]},{"id":"7ae9f9a0.851608","type":"file","name":"Send Text Message","filename":"/var/spool/gammu/outbox/OUT07968915496.txt","appendNewline":false,"overwriteFile":false,"x":568.2500076293945,"y":715.5000114440918,"z":"afbbe313.50442","wires":[]},{"id":"3af2be94.c50d42","type":"mqtt in","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":155,"y":671.1746215820312,"z":"afbbe313.50442","wires":[["3c7d4c80.c382b4"]]},{"id":"95f7f784.6a0808","type":"debug","name":"System Monitor","active":true,"complete":"false","x":514,"y":38,"z":"afbbe313.50442","wires":[]},{"id":"640630a5.9bf9d","type":"inject","name":"Shutdown system","topic":"","payload":"initiated!","payloadType":"string","repeat":"","crontab":"","once":false,"x":123.90908813476562,"y":44,"z":"afbbe313.50442","wires":[["ba164f4d.45e9b"]]},{"id":"ba164f4d.45e9b","type":"exec","command":"sudo shutdown -h now && echo Shutdown","append":"","useSpawn":"","name":"Shutdown","x":313.2727355957031,"y":45.5,"z":"afbbe313.50442","wires":[["95f7f784.6a0808"],[],[]]},{"id":"d07bd131.2f843","type":"function","name":"Scale pH","func":"/* \n\tRaw pH reading is 100x real reading\n*/\n\nvar pH = msg.payload;\npH = pH / 100;\n\nreturn {payload: pH};","outputs":1,"x":503,"y":464,"z":"afbbe313.50442","wires":[["4ef8e59f.b1071c"]]},{"id":"4ef8e59f.b1071c","type":"mqtt out","name":"","topic":"pH","broker":"817e85f1.7e8178","x":648,"y":464,"z":"afbbe313.50442","wires":[]},{"id":"ee191438.11e6e8","type":"function","name":"Raise Light Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 1000) {\n\tmsg.payload = \"Light\";\n\treturn msg;\n}","outputs":1,"x":323,"y":591,"z":"afbbe313.50442","wires":[["22a7a303.dd585c"]]},{"id":"3c7d4c80.c382b4","type":"function","name":"Raise alert","func":"var msg, textMsg;\ncontext.textEnabled = context.textEnabled || 'Off'\n\n// turn text messaging on or off\nif (msg.topic == 'Text Messaging') {\n\tcontext.textEnabled = msg.payload;\n\tmsg.payload = 'Text Messaging ' + msg.payload;\n}\n\n// raise an alert\nif (msg.topic == 'Alert') {\n\tmsg.payload = 'Help! hey man its getting too hot' + msg.payload + '!';\n\tif (context.textEnabled == 'on') {\n\t\ttextMsg = {payload: 'Texting texting ' + (msg.payload)};\n\t    msg.payload += ' (Sending text)';\n\t}\n}\n\nreturn [msg, textMsg];","outputs":"2","x":340,"y":693,"z":"afbbe313.50442","wires":[["d8c06be8.273f98"],["7ae9f9a0.851608"]]},{"id":"d8c06be8.273f98","type":"debug","name":"Alerts","active":true,"complete":"false","x":539,"y":651,"z":"afbbe313.50442","wires":[]},{"id":"719ded4f.8e6214","type":"mqtt in","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":144,"y":725,"z":"afbbe313.50442","wires":[["3c7d4c80.c382b4"]]},{"id":"d3ec0245.2c14","type":"switch","name":"","property":"sensorId","rules":[{"t":"eq","v":1,"v2":0},{"t":"eq","v":2,"v2":0},{"t":"eq","v":3,"v2":0},{"t":"else"}],"checkall":"true","outputs":4,"x":335,"y":337,"z":"afbbe313.50442","wires":[["6c505160.93afb"],["9caf2834.6350d8","95004574.6affb8"],["33f8a23.fcc075e"],[]]},{"id":"e019442b.1fe6b8","type":"exec","command":"/home/pi/rfm12b-linux/examples/bin/rfm12b_read","append":"","useSpawn":true,"name":"RFM12b","x":269,"y":107,"z":"afbbe313.50442","wires":[["7cd65146.8329b","ca5d83b3.35a28"],[],[]]},{"id":"138f26eb.ec70d9","type":"inject","name":"Start Receving","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":114,"y":104,"z":"afbbe313.50442","wires":[["e019442b.1fe6b8"]]},{"id":"50ab4cd7.af54b4","type":"mqtt out","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":625,"y":378,"z":"afbbe313.50442","wires":[]},{"id":"ca5d83b3.35a28","type":"function","name":"Parse Radio Data","func":"var msgString = msg.payload.toString(); \n\nif (msgString.indexOf(\"failed\") != -1) {\n\terrorMsg = {payload: msgString};\n\treturn [null, errorMsg];\n}\n\n// Fetch array from buffer\nvar rawArray = msgString.split(/\\s/);\n\nvar errorMsg = null; // will populate on error\nmsg = null; // will populate if no errors\n\n// strip off preamble and final newline\nvar dataArray = rawArray.slice(11, -2);\n\nvar nodeId = dataArray[0];\nvar numBytesExpected = dataArray[1];\nvar numBytesGot = dataArray.length - 2;\nvar sensorId = dataArray[2];\nvar readings = dataArray.slice(4);\n\n// check integrity\nif (nodeId > 63 || nodeId < 32) {\n\terrorMsg = {payload: 'Invalid Node Id: ' + nodeId}; \n} else if (sensorId > 15) {\n\terrorMsg = {payload: 'Invalid Sensor Id: ' + sensorId};\n} else if (numBytesExpected != numBytesGot) {\n\terrorMsg = {payload: 'Expected ' + numBytesExpected + ' bytes, got ' + numBytesGot};\n} else {\n\tmsg = {\n\t\tnodeId: nodeId,\n\t\tsensorId: sensorId,\n\t\treadings: readings\n\t}\n}\n\nreturn [msg, errorMsg];","outputs":"2","x":355.5,"y":161,"z":"afbbe313.50442","wires":[["d3c1fbde.2c3e08"],["e6b2ea90.194d18"]]},{"id":"d3c1fbde.2c3e08","type":"function","name":"Calculate readings","func":"// Array contains two readings, each occupying 2\n// elements (bytes).\n\nvar MSB = msg.readings.pop();\nvar LSB = msg.readings.pop(); \nvar secondReading = 256* parseFloat(MSB)+ parseFloat(LSB);\n\nvar MSB = msg.readings.pop();\nvar LSB = msg.readings.pop(); \nvar firstReading = 256* parseFloat(MSB)+ parseFloat(LSB);\n\nmsg.firstReading = firstReading\nmsg.secondReading = secondReading;\n\nreturn msg;","outputs":"1","x":145,"y":298,"z":"afbbe313.50442","wires":[["d3ec0245.2c14"]]},{"id":"8653f6c.f79ac08","type":"mqtt out","name":"","topic":"Voltage","broker":"817e85f1.7e8178","x":633,"y":267,"z":"afbbe313.50442","wires":[]},{"id":"be9afaa4.416508","type":"template","name":"Volts output","template":"{{topic}}: {{payload}} V","x":237,"y":306,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"ffad7cc4.00528","type":"template","name":"pH output","template":"{{topic}}: {{payload}}","x":245,"y":457,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"e6b2ea90.194d18","type":"debug","name":"Bad Radio","active":true,"complete":"false","x":511,"y":198,"z":"afbbe313.50442","wires":[]},{"id":"9caf2834.6350d8","type":"function","name":"Scale Temp","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nvar temp = msg.secondReading;\nmsg.payload = temp / 10;\n\n\nreturn msg;","outputs":1,"x":491,"y":338,"z":"afbbe313.50442","wires":[["95550115.6aab","488750e2.b778b"]]},{"id":"6c505160.93afb","type":"function","name":"Scale Voltage","func":"/* \n    1023 steps, 4.5 max voltage\n*/\n\nvar rawReading = msg.firstReading;\nvar voltsFloat = rawReading / 1023 * 5.16; \nmsg.payload = voltsFloat.toFixed(2);\nreturn msg;","outputs":1,"x":499,"y":267,"z":"afbbe313.50442","wires":[["8653f6c.f79ac08","6fc9fa2e.903604"]]},{"id":"95004574.6affb8","type":"function","name":"Scale Humdity","func":"msg.payload = msg.firstReading;\nreturn msg;","outputs":1,"x":493,"y":303,"z":"afbbe313.50442","wires":[["5934c1b5.a6cb4"]]},{"id":"33f8a23.fcc075e","type":"function","name":"Parse Light","func":"msg.payload = msg.firstReading;\nreturn msg;","outputs":"1","x":493,"y":376,"z":"afbbe313.50442","wires":[["50ab4cd7.af54b4"]]},{"id":"80a18045.7f5e8","type":"file","name":"","filename":"/home/pi/volt.log","appendNewline":true,"overwriteFile":false,"x":883,"y":225,"z":"afbbe313.50442","wires":[]},{"id":"6fc9fa2e.903604","type":"function","name":"add date & nodeID","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ntimenow = new Date().toISOString();\nmsg.payload = timenow + \",\" + msg.payload;\nmsg.payload = msg.payload + \",\" + msg.nodeId;\nreturn msg;","outputs":1,"x":703,"y":225,"z":"afbbe313.50442","wires":[["80a18045.7f5e8"]]},{"id":"488750e2.b778b","type":"function","name":"add date & nodeID","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\ntimenow = new Date().toISOString();\nmsg.payload = timenow + \",\" + msg.payload;\nmsg.payload = msg.payload + \",\" + msg.nodeId;\nreturn msg;","outputs":1,"x":664,"y":417,"z":"afbbe313.50442","wires":[["9af5012.f650b"]]},{"id":"9af5012.f650b","type":"file","name":"","filename":"/home/pi/temp.log","appendNewline":true,"overwriteFile":false,"x":844,"y":417,"z":"afbbe313.50442","wires":[]}]