lib/flows/Alerts.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"27a11de5.d85ee2","type":"mqtt in","name":"","topic":"Water Temperature","broker":"817e85f1.7e8178","x":94,"y":125,"z":"d3c2133e.2c3df","wires":[["e60c1dc8.19f3e"]]},{"id":"e60c1dc8.19f3e","type":"function","name":"Too hot?","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 28) {\n\tmsg.payload = \"hot\";\n\treturn msg;\n}\n","outputs":1,"x":308.77777099609375,"y":124.49200439453125,"z":"d3c2133e.2c3df","wires":[["16c8f4c4.e9370b","60437b9a.9fbc84"]]},{"id":"8998c7e5.766738","type":"mqtt in","name":"","topic":"Alert Via Light","broker":"817e85f1.7e8178","x":142.77777099609375,"y":500.49200439453125,"z":"d3c2133e.2c3df","wires":[["7cb991e6.83467","ef3831bb.10c7d"]]},{"id":"db9971a3.24669","type":"file","name":"Send Text Message","filename":"/var/spool/gammu/outbox/OUT07968915496.txt","appendNewline":false,"overwriteFile":false,"x":615.25,"y":635.5,"z":"d3c2133e.2c3df","wires":[]},{"id":"578189b8.a87e78","type":"function","name":"Too dark?","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload < 10) {\n\tmsg.payload = \"dark\";\n\treturn msg;\n}","outputs":1,"x":305,"y":197,"z":"d3c2133e.2c3df","wires":[[]]},{"id":"27626dd0.d89d92","type":"function","name":"Manage texts","func":"var msg, textMsg;\ncontext.textEnabled = context.textEnabled || 'Off'\n\n// turn text messaging on or off\nif (msg.topic == 'Text Messaging') {\n\tcontext.textEnabled = msg.payload;\n\tmsg.payload = 'Text Messaging ' + msg.payload;\n}\n\n// raise an alert\nif (msg.topic == 'Alert Via Text') {\n\tmsg.payload = 'Help! hey man its getting too ' + msg.payload + '!';\n\tif (context.textEnabled == 'on') {\n\t\ttextMsg = msg;\n\t}\n}\n\nreturn [msg, textMsg];","outputs":"2","x":395,"y":614,"z":"d3c2133e.2c3df","wires":[["f0535798.0faca8"],["db9971a3.24669","6fafaaa1.905054"]]},{"id":"e88355f2.177ca8","type":"mqtt in","name":"Enable or Disable Text Messaging","topic":"Text Messaging","broker":"817e85f1.7e8178","x":153,"y":624,"z":"d3c2133e.2c3df","wires":[["27626dd0.d89d92"]]},{"id":"7cb991e6.83467","type":"exec","command":"/home/pi/rcswitch-pi/send 4 4 1","append":"","useSpawn":"","name":"Big light on","x":348,"y":540,"z":"d3c2133e.2c3df","wires":[["80ee8eed.7f117"],[],[]]},{"id":"d1ed67d1.2e1298","type":"exec","command":"/home/pi/rcswitch-pi/send 4 4 0","append":"","useSpawn":"","name":"Big light off","x":642,"y":546,"z":"d3c2133e.2c3df","wires":[[],[],[]]},{"id":"80ee8eed.7f117","type":"delay","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":492,"y":537,"z":"d3c2133e.2c3df","wires":[["d1ed67d1.2e1298"]]},{"id":"860f011.f79f1","type":"mqtt in","name":"","topic":"Alert Via Text","broker":"817e85f1.7e8178","x":154,"y":581,"z":"d3c2133e.2c3df","wires":[["27626dd0.d89d92"]]},{"id":"f0535798.0faca8","type":"debug","name":"Text monitor","active":true,"complete":"false","x":584,"y":594,"z":"d3c2133e.2c3df","wires":[]},{"id":"16c8f4c4.e9370b","type":"mqtt out","name":"","topic":"Alert Via Light","broker":"817e85f1.7e8178","x":507,"y":92,"z":"d3c2133e.2c3df","wires":[]},{"id":"34e48b27.cb1b74","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":89,"y":193,"z":"d3c2133e.2c3df","wires":[["578189b8.a87e78"]]},{"id":"60437b9a.9fbc84","type":"mqtt out","name":"","topic":"Alert Via Text","broker":"817e85f1.7e8178","x":499,"y":196,"z":"d3c2133e.2c3df","wires":[]},{"id":"ef3831bb.10c7d","type":"debug","name":"Alert-via-light monitor","active":true,"complete":"false","x":368,"y":464,"z":"d3c2133e.2c3df","wires":[]},{"id":"63d3bb76.9c2c44","type":"mqtt out","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":542,"y":764,"z":"d3c2133e.2c3df","wires":[]},{"id":"6fafaaa1.905054","type":"template","name":"Disable","template":"off","x":316,"y":707,"z":"d3c2133e.2c3df","wires":[["63d3bb76.9c2c44","f624f5c8.09db08"]]},{"id":"f624f5c8.09db08","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":320,"y":770,"z":"d3c2133e.2c3df","wires":[["5ec7af48.a1385"]]},{"id":"5ec7af48.a1385","type":"template","name":"Re-enable","template":"on","x":314,"y":828,"z":"d3c2133e.2c3df","wires":[["63d3bb76.9c2c44"]]}]