lib/flows/Controls.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"27f39bc7.d80c64","type":"function","name":"test gate","func":"context.testing = context.testing || 0;\nif (msg.topic == \"test_this\") {\n\tcontext.testing = msg.payload;\n}\nif (msg.topic == context.testing) {\n\treturn msg;\n}\n","outputs":1,"x":486.9047546386719,"y":247.33330249786377,"z":"621ad2ed.9de52c","wires":[["fd48ba35.02b748"]]},{"id":"1810851.fe7ef7b","type":"inject","name":"Listen to Light Level","topic":"test_this","payload":"Light Level","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.22727584838867,"y":34.14718437194824,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"64055119.9bfab","type":"inject","name":"STOP LISTENING","topic":"test_this","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":114.41776657104492,"y":249.44479370117188,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"c1f297f2.3e0d68","type":"inject","name":"Listen to Air Temperature","topic":"test_this","payload":"Air Temperature","payloadType":"string","repeat":"","crontab":"","once":false,"x":142.22727584838867,"y":70.14718437194824,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"20726001.df8da","type":"template","name":"Lux output","template":"{{topic}}: {{payload}} lux","x":225.81251525878906,"y":345.4473571777344,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"e9bc2205.1643e","type":"template","name":"Centigrade Output","template":"{{topic}}: {{payload}} C","x":248.5109100341797,"y":420.3968858718872,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"fd48ba35.02b748","type":"debug","name":"Status Data","active":true,"complete":"false","x":617.65478515625,"y":250.08336353302002,"z":"621ad2ed.9de52c","wires":[]},{"id":"2a1302ed.d5ecfe","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":94.18685913085938,"y":350.0000352859497,"z":"621ad2ed.9de52c","wires":[["20726001.df8da"]]},{"id":"239c1059.dc63f","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":74.5,"y":420.5080156326294,"z":"621ad2ed.9de52c","wires":[["e9bc2205.1643e"]]},{"id":"d4050e5c.2bfaf","type":"mqtt in","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":96.40908813476562,"y":384.7302141189575,"z":"621ad2ed.9de52c","wires":[["57302e1f.a8cfd"]]},{"id":"97c2b529.683d48","type":"inject","name":"Listen to Humidity","topic":"test_this","payload":"Humidity","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.72727584838867,"y":110.1471996307373,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"57302e1f.a8cfd","type":"template","name":"%RH Output","template":"{{topic}}: {{payload}} %RH","x":230.76623916625977,"y":384.1746406555176,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"f1f43b82.0e0bc8","type":"inject","name":"Listen to Battery","topic":"test_this","payload":"Battery","payloadType":"string","repeat":"","crontab":"","once":false,"x":109.72727584838867,"y":189.0836944580078,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"203716f4.dfc8ea","type":"mqtt in","name":"","topic":"Battery","broker":"817e85f1.7e8178","x":94.85710144042969,"y":314.90915393829346,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"b8914bde.476eb8","type":"inject","name":"Enable","topic":"","payload":"on","payloadType":"string","repeat":"","crontab":"","once":false,"x":117.75,"y":521.2500076293945,"z":"621ad2ed.9de52c","wires":[["adb75c93.5248a"]]},{"id":"318fbb78.ce7044","type":"inject","name":"Listen to pH","topic":"test_this","payload":"pH","payloadType":"string","repeat":"","crontab":"","once":false,"x":95,"y":150,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"b06ece1d.4f913","type":"mqtt in","name":"","topic":"pH","broker":"817e85f1.7e8178","x":93,"y":464,"z":"621ad2ed.9de52c","wires":[["27f39bc7.d80c64"]]},{"id":"adb75c93.5248a","type":"mqtt out","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":378,"y":548,"z":"621ad2ed.9de52c","wires":[]},{"id":"9f21e6d1.60de18","type":"inject","name":"Disable","topic":"Text Alerts","payload":"off","payloadType":"string","repeat":"","crontab":"","once":false,"x":118,"y":571,"z":"621ad2ed.9de52c","wires":[["adb75c93.5248a"]]},{"id":"794efc0d.86b104","type":"inject","name":"Test Light Alarm","topic":"Alert","payload":"Light","payloadType":"string","repeat":"","crontab":"","once":false,"x":128,"y":638,"z":"621ad2ed.9de52c","wires":[["a4ed038.f5b13"]]},{"id":"a4ed038.f5b13","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":405,"y":664,"z":"621ad2ed.9de52c","wires":[]},{"id":"c0c26e9f.3f3d9","type":"inject","name":"Test Temp Alarm","topic":"Alert","payload":"Temp","payloadType":"string","repeat":"","crontab":"","once":false,"x":130,"y":699,"z":"621ad2ed.9de52c","wires":[["a4ed038.f5b13"]]}]