lib/flows/System.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"dba1eca5.245e1","type":"inject","name":"Reset system","topic":"System","payload":"System Reset!","payloadType":"string","repeat":"","crontab":"","once":true,"x":107.23960876464844,"y":138.47552490234375,"z":"c06fbd88.3f904","wires":[["b5db7ef5.4a248"]]},{"id":"b5db7ef5.4a248","type":"function","name":"System Setup","func":"// set system mode, so decoupled functions can respond\ncontext.global.mode = \"initialising\";\n\nreturn msg;","outputs":1,"x":279.55780029296875,"y":137.97552490234375,"z":"c06fbd88.3f904","wires":[["9424a632.6bdb58"]]},{"id":"c6cb7b0d.393488","type":"mqtt out","name":"","topic":"System","broker":"817e85f1.7e8178","x":614.0000610351562,"y":98,"z":"c06fbd88.3f904","wires":[]},{"id":"13eced8c.ec1312","type":"tail","name":"Radio Data","split":false,"filename":"/home/pi/aquaponics-node-red/radiodata","x":95,"y":248,"z":"c06fbd88.3f904","wires":[["2583b263.da7c4e","310b942a.cef46c"]]},{"id":"e36cfecf.1c93","type":"mqtt out","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":646,"y":248,"z":"c06fbd88.3f904","wires":[]},{"id":"6983bed7.967c4","type":"mqtt out","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":673,"y":345,"z":"c06fbd88.3f904","wires":[]},{"id":"7ad05eb.f852fa","type":"mqtt out","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":648,"y":310,"z":"c06fbd88.3f904","wires":[]},{"id":"310b942a.cef46c","type":"function","name":"Parse pH","func":"var dataArray = msg.payload.split(' ');\ncontext.global.mode = \"receiving\";\ndataArray.pop(); // last element is newline\n\nvar pHMSB = dataArray.pop();\nvar pHLSB = dataArray.pop(); \nvar pH = 256* parseFloat(pHMSB)+ parseFloat(pHLSB);\n\nvar pHMsg  = {payload: pH}; \n\nreturn [pHMsg];","outputs":"1","x":316,"y":416,"z":"c06fbd88.3f904","wires":[["c1bd31f5.3e42d"]]},{"id":"2583b263.da7c4e","type":"debug","name":"Radio Monitor","active":false,"complete":"false","x":250,"y":198,"z":"c06fbd88.3f904","wires":[]},{"id":"b17cba90.4e8348","type":"function","name":"Scale Light","func":"/* \n\tRaw light reading needs scaling to lux\n*/\n\nvar light = msg.payload;\nif (light<50)\n  {\n  lightLevel=\"Very Dark!\";\n  }\nelse if (light<200)\n  {\n  lightLevel=\"Dark\";\n  }\n  else if (light<240)\n  {\n  lightLevel=\"Light\";\n  }\nelse\n  {\n  lightLevel=\"Very Light!\";\n  }\n\nreturn {payload: lightLevel};","outputs":1,"x":474,"y":276,"z":"c06fbd88.3f904","wires":[["e36cfecf.1c93"]]},{"id":"9b6e61b2.6491a","type":"function","name":"Scale Humidity","func":"/* \n\tRaw humidity reading is twice real reading\n*/\n\nvar humid = msg.payload;\nhumid = humid / 2;\n\nreturn {payload: humid};","outputs":1,"x":488,"y":311,"z":"c06fbd88.3f904","wires":[["7ad05eb.f852fa"]]},{"id":"89691b3f.7696e8","type":"function","name":"Scale Temperature","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nvar temp = msg.payload;\ntemp = temp / 10;\n\n\nreturn {payload: temp};","outputs":1,"x":502,"y":346,"z":"c06fbd88.3f904","wires":[["6983bed7.967c4"]]},{"id":"d489cd65.2b763","type":"function","name":"Report Battery","func":"if (msg.payload == '1') {\n\tmsg.payload = 'Battery Low!';\n} else {\n\tmsg.payload = 'Battery Normal';\n}\nreturn msg;","outputs":1,"x":488,"y":383,"z":"c06fbd88.3f904","wires":[["1dbeb950.e24147"]]},{"id":"9424a632.6bdb58","type":"function","name":"Clear alerts","func":"// clear alerts\ncontext.global.tempalarm = 0;\ncontext.global.lightalarm = 0;\nreturn msg;","outputs":1,"x":431,"y":138,"z":"c06fbd88.3f904","wires":[["c6cb7b0d.393488","5649c148.a9b64"]]},{"id":"1dbeb950.e24147","type":"mqtt out","name":"","topic":"Battery","broker":"817e85f1.7e8178","x":649,"y":383,"z":"c06fbd88.3f904","wires":[]},{"id":"b50260d3.4afda","type":"mqtt in","name":"","topic":"Air Temperature","broker":"817e85f1.7e8178","x":106,"y":412.99999046325684,"z":"c06fbd88.3f904","wires":[["6454dd5c.9bab24"]]},{"id":"6454dd5c.9bab24","type":"function","name":"Raise Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 24 && msg.topic == \"Air Temperature\" && context.global.tempalarm != 1)\n\t{\n\tcontext.global.tempalarm = 1;\n\tmsg.payload = \"I'm too hot in here! I'm melting!\";\n\treturn msg;\n\t}\nif (msg.payload > 1000 && msg.topic == \"Light Level\" && context.global.lightalarm != 1)\n\t{\n\tcontext.global.lightalarm = 1;\n\tmsg.payload = \"It's too light in here! I'm fading fast!\";\n\treturn msg;\n\t}\nreturn null;","outputs":1,"x":324.77777099609375,"y":452.4919948577881,"z":"c06fbd88.3f904","wires":[["dff9b91a.200648"]]},{"id":"824cc15a.7db34","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":121.77777099609375,"y":378.49200439453125,"z":"c06fbd88.3f904","wires":[["6454dd5c.9bab24"]]},{"id":"8ec56ac8.713a98","type":"mqtt in","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":124,"y":450.22218894958496,"z":"c06fbd88.3f904","wires":[["6454dd5c.9bab24"]]},{"id":"dff9b91a.200648","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":491.77777099609375,"y":450.49200439453125,"z":"c06fbd88.3f904","wires":[]},{"id":"1427c7e6.ebd838","type":"file","name":"Send Text Message","filename":"/var/spool/gammu/outbox/OUT07968915496.txt","appendNewline":false,"overwriteFile":false,"x":649,"y":183,"z":"c06fbd88.3f904","wires":[]},{"id":"b23ac5c0.4dc538","type":"mqtt in","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":443,"y":183.17462158203125,"z":"c06fbd88.3f904","wires":[["5649c148.a9b64","1427c7e6.ebd838"]]},{"id":"5649c148.a9b64","type":"debug","name":"System Monitor","active":true,"complete":"false","x":614,"y":141,"z":"c06fbd88.3f904","wires":[]},{"id":"caef2f78.3510d","type":"inject","name":"Shutdown system","topic":"","payload":"Shutdown initiated","payloadType":"string","repeat":"","crontab":"","once":false,"x":118.90908813476562,"y":60.99999809265137,"z":"c06fbd88.3f904","wires":[["4e1a5e56.b1e5a"]]},{"id":"4e1a5e56.b1e5a","type":"function","name":"System Shutdown","func":"// set system mode, so decoupled functions can respond\ncontext.global.mode = \"shuttingdown\";\n\nreturn msg;","outputs":1,"x":302.63636779785156,"y":61.181814193725586,"z":"c06fbd88.3f904","wires":[["66f2c0d.f990d4","c6cb7b0d.393488","5649c148.a9b64"]]},{"id":"66f2c0d.f990d4","type":"exec","command":"sudo shutdown -h now","append":"","useSpawn":"","name":"Shutdown","x":510.2727355957031,"y":38.5,"z":"c06fbd88.3f904","wires":[[],[],[]]},{"id":"4374c36c.bc8b3c","type":"function","name":"Parse data","func":"var dataArray = msg.payload.split(' ');\ncontext.global.mode = \"receiving\";\ndataArray.pop(); // last element is newline\n\nvar tempMSB = dataArray.pop();\nvar tempLSB = dataArray.pop(); \nvar humidity = dataArray.pop();\nvar light = dataArray.pop();\nvar temp = 256* parseFloat(tempMSB)+ parseFloat(tempLSB);\n\nvar lightMsg  = {payload: light}; \nvar humidityMsg = {payload: humidity}; \nvar tempMsg = {payload: temp};\n\nreturn [lightMsg, humidityMsg, tempMsg];","outputs":"3","x":315,"y":311,"z":"c06fbd88.3f904","wires":[["b17cba90.4e8348"],["9b6e61b2.6491a"],["89691b3f.7696e8"]]},{"id":"c1bd31f5.3e42d","type":"function","name":"Scale pH","func":"/* \n\tRaw pH reading is 100x real reading\n*/\n\nvar pH = msg.payload;\npH = pH / 100;\n\nreturn {payload: pH};","outputs":1,"x":489,"y":416,"z":"c06fbd88.3f904","wires":[["e66bbbba.199448"]]},{"id":"e66bbbba.199448","type":"mqtt out","name":"","topic":"pH","broker":"817e85f1.7e8178","x":652,"y":421,"z":"c06fbd88.3f904","wires":[]},{"id":"724fb8d9.8db048","type":"function","name":"Parse luminosity","func":"var dataArray = msg.payload.split(' ');\ncontext.global.mode = \"receiving\";\ndataArray.pop(); // last element is newline\n\ndataArray.pop();\ndataArray.pop();\nvar luxMSB = dataArray.pop();\nvar luxLSB = dataArray.pop(); \nvar lux = 256* parseFloat(luxMSB)+ parseFloat(luxLSB);\n\nvar luxMsg  = {payload: lux}; \n\nreturn [luxMsg];","outputs":"1","x":322,"y":244,"z":"c06fbd88.3f904","wires":[["e36cfecf.1c93"]]}]