lib/flows/System.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"95550115.6aab","type":"mqtt out","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":779,"y":398,"z":"afbbe313.50442","wires":[]},{"id":"5934c1b5.a6cb4","type":"mqtt out","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":786,"y":347,"z":"afbbe313.50442","wires":[]},{"id":"625743d9.9da8bc","type":"function","name":"Parse pH","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\n\nvar pHMSB = dataArray.pop();\nvar pHLSB = dataArray.pop(); \nvar pH = 256* parseFloat(pHMSB)+ parseFloat(pHLSB);\n\nvar pHMsg  = {payload: pH}; \n\nreturn [pHMsg];","outputs":"1","x":477,"y":296,"z":"afbbe313.50442","wires":[["d07bd131.2f843"]]},{"id":"7cd65146.8329b","type":"debug","name":"Radio Monitor","active":false,"complete":"false","x":458,"y":153,"z":"afbbe313.50442","wires":[]},{"id":"c281dbfc.3d7e28","type":"function","name":"Scale Humidity","func":"/* \n\tRaw humidity reading is twice real reading\n*/\n\nvar humid = msg.payload;\nhumid = humid / 2;\n\nreturn {payload: humid};","outputs":1,"x":648,"y":348,"z":"afbbe313.50442","wires":[["5934c1b5.a6cb4"]]},{"id":"9caf2834.6350d8","type":"function","name":"Scale Temp","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nvar temp = msg.payload;\ntemp = temp / 10;\n\n\nreturn {payload: temp};","outputs":1,"x":645,"y":396,"z":"afbbe313.50442","wires":[["95550115.6aab"]]},{"id":"1d8a396c.e275c7","type":"mqtt in","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":135,"y":531,"z":"afbbe313.50442","wires":[["a2fa63fa.5d05a"]]},{"id":"a2fa63fa.5d05a","type":"function","name":"Raise Temp Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 26) {\n\tmsg.payload = \"Temp\";\n\treturn msg;\n}\n","outputs":1,"x":321.77777099609375,"y":532.4920043945312,"z":"afbbe313.50442","wires":[["22a7a303.dd585c"]]},{"id":"1ef6c1ee.e1093e","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":135.77777099609375,"y":589.4920043945312,"z":"afbbe313.50442","wires":[["ee191438.11e6e8"]]},{"id":"22a7a303.dd585c","type":"mqtt out","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":551.7777709960938,"y":557.4920043945312,"z":"afbbe313.50442","wires":[]},{"id":"7ae9f9a0.851608","type":"file","name":"Send Text Message","filename":"/var/spool/gammu/outbox/OUT07968915496.txt","appendNewline":false,"overwriteFile":false,"x":568.2500076293945,"y":715.5000114440918,"z":"afbbe313.50442","wires":[]},{"id":"3af2be94.c50d42","type":"mqtt in","name":"","topic":"Alert","broker":"817e85f1.7e8178","x":155,"y":671.1746215820312,"z":"afbbe313.50442","wires":[["3c7d4c80.c382b4"]]},{"id":"95f7f784.6a0808","type":"debug","name":"System Monitor","active":true,"complete":"false","x":514,"y":38,"z":"afbbe313.50442","wires":[]},{"id":"640630a5.9bf9d","type":"inject","name":"Shutdown system","topic":"","payload":"initiated!","payloadType":"string","repeat":"","crontab":"","once":false,"x":123.90908813476562,"y":44,"z":"afbbe313.50442","wires":[["ba164f4d.45e9b"]]},{"id":"ba164f4d.45e9b","type":"exec","command":"sudo shutdown -r now && echo Shutdown","append":"","useSpawn":"","name":"Shutdown","x":313.2727355957031,"y":45.5,"z":"afbbe313.50442","wires":[["95f7f784.6a0808"],[],[]]},{"id":"b839f206.47c61","type":"function","name":"Parse Roomnode","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\n\nvar tempMSB = dataArray.pop();\nvar tempLSB = dataArray.pop(); \nvar humidity = dataArray.pop();\nvar temp = 256* parseFloat(tempMSB)+ parseFloat(tempLSB);\n\nvar humidityMsg = {payload: humidity}; \nvar tempMsg = {payload: temp};\n\nreturn [humidityMsg, tempMsg];","outputs":"2","x":478,"y":371,"z":"afbbe313.50442","wires":[["c281dbfc.3d7e28"],["9caf2834.6350d8"]]},{"id":"d07bd131.2f843","type":"function","name":"Scale pH","func":"/* \n\tRaw pH reading is 100x real reading\n*/\n\nvar pH = msg.payload;\npH = pH / 100;\n\nreturn {payload: pH};","outputs":1,"x":639,"y":292,"z":"afbbe313.50442","wires":[["4ef8e59f.b1071c"]]},{"id":"4ef8e59f.b1071c","type":"mqtt out","name":"","topic":"pH","broker":"817e85f1.7e8178","x":784,"y":292,"z":"afbbe313.50442","wires":[]},{"id":"ee191438.11e6e8","type":"function","name":"Raise Light Alarm","func":"/* \n\tRaise alarm when necessary\n*/\nif (msg.payload > 1000) {\n\tmsg.payload = \"Light\";\n\treturn msg;\n}","outputs":1,"x":323,"y":591,"z":"afbbe313.50442","wires":[["22a7a303.dd585c"]]},{"id":"3c7d4c80.c382b4","type":"function","name":"Raise alert","func":"var msg, textMsg;\ncontext.textEnabled = context.textEnabled || 'Off'\n\n// turn text messaging on or off\nif (msg.topic == 'Text Messaging') {\n\tcontext.textEnabled = msg.payload;\n\tmsg.payload = 'Text Messaging ' + msg.payload;\n}\n\n// raise an alert\nif (msg.topic == 'Alert') {\n\tmsg.payload = 'Help! ' + msg.payload + '!';\n\tif (context.textEnabled == 'on') {\n\t\ttextMsg = {payload: 'Texting texting ' + (msg.payload)};\n\t    msg.payload += ' (Sending text)';\n\t}\n}\n\nreturn [msg, textMsg];","outputs":"2","x":340,"y":693,"z":"afbbe313.50442","wires":[["d8c06be8.273f98"],["7ae9f9a0.851608"]]},{"id":"d8c06be8.273f98","type":"debug","name":"Alerts","active":true,"complete":"false","x":539,"y":651,"z":"afbbe313.50442","wires":[]},{"id":"719ded4f.8e6214","type":"mqtt in","name":"","topic":"Text Messaging","broker":"817e85f1.7e8178","x":144,"y":725,"z":"afbbe313.50442","wires":[["3c7d4c80.c382b4"]]},{"id":"d3ec0245.2c14","type":"switch","name":"","property":"payload","rules":[{"t":"regex","v":"4 bytes read\\s\\s\\s33 2"},{"t":"regex","v":"6 bytes read\\s\\s\\s3 4"},{"t":"regex","v":"6 bytes read\\s\\s\\s4 4"},{"t":"regex","v":"4 bytes read\\s\\s\\s57 2"}],"checkall":"true","outputs":4,"x":272,"y":341,"z":"afbbe313.50442","wires":[["625743d9.9da8bc"],["b839f206.47c61"],["33f8a23.fcc075e"],["d3c1fbde.2c3e08"]]},{"id":"e019442b.1fe6b8","type":"exec","command":"/home/pi/rfm12b-linux/examples/bin/rfm12b_read","append":"","useSpawn":true,"name":"RFM12b","x":272,"y":158,"z":"afbbe313.50442","wires":[["7cd65146.8329b","ca5d83b3.35a28"],[],[]]},{"id":"138f26eb.ec70d9","type":"inject","name":"Start Receving","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":117,"y":155,"z":"afbbe313.50442","wires":[["e019442b.1fe6b8"]]},{"id":"50ab4cd7.af54b4","type":"mqtt out","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":786,"y":442,"z":"afbbe313.50442","wires":[]},{"id":"33f8a23.fcc075e","type":"function","name":"Parse lux","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\nvar luxGain = dataArray.pop();\nvar luxMSB = dataArray.pop();\nvar luxLSB = dataArray.pop(); \nif (luxGain = 0) {\n\tvar lux = 256 * parseFloat(luxMSB) + parseFloat(luxLSB);\n\t}\n\telse {\n\tvar lux = 16*(256 * parseFloat(luxMSB) + parseFloat(luxLSB));\n\t}\n\nvar lux = (luxGain * 256 * parseFloat(luxMSB)) + parseFloat(luxLSB);\n\nvar luxMsg  = {payload: lux}; \n\nreturn [luxMsg];","outputs":"1","x":463,"y":428,"z":"afbbe313.50442","wires":[["50ab4cd7.af54b4"]]},{"id":"ca5d83b3.35a28","type":"function","name":"Buffer to string","func":"\nmsg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"x":293.5,"y":252,"z":"afbbe313.50442","wires":[["d3ec0245.2c14"]]},{"id":"d3c1fbde.2c3e08","type":"function","name":"Parse voltage","func":"var dataArray = msg.payload.toString().split(' ');\n\ndataArray.pop(); // last element is newline\n\nvar voltMSB = dataArray.pop();\nvar voltLSB = dataArray.pop(); \nvar volt = 256* parseFloat(voltMSB)+ parseFloat(voltLSB);\n\nvar voltMsg  = {payload:volt}; \n\nreturn [voltMsg];","outputs":"1","x":468,"y":467,"z":"afbbe313.50442","wires":[["6c505160.93afb"]]},{"id":"8653f6c.f79ac08","type":"mqtt out","name":"","topic":"Voltage","broker":"817e85f1.7e8178","x":776,"y":481,"z":"afbbe313.50442","wires":[]},{"id":"6c505160.93afb","type":"function","name":"Scale Voltage","func":"/* \n    1023 steps, 4.5 max voltage\n*/\n\nvar rawReading = msg.payload;\nvar voltsFloat = rawReading / 1023 * 4.5; \nvar volts = voltsFloat.toFixed(2);\nreturn {payload: volts};","outputs":1,"x":637,"y":470,"z":"afbbe313.50442","wires":[["8653f6c.f79ac08"]]}]