lib/flows/System.json
[{"id":"817e85f1.7e8178","type":"mqtt-broker","broker":"localhost","port":"1883"},{"id":"95550115.6aab","type":"mqtt out","name":"Air Temp","topic":"Air Temperature","broker":"817e85f1.7e8178","x":633,"y":338,"z":"afbbe313.50442","wires":[]},{"id":"5934c1b5.a6cb4","type":"mqtt out","name":"","topic":"Humidity","broker":"817e85f1.7e8178","x":632,"y":302,"z":"afbbe313.50442","wires":[]},{"id":"7cd65146.8329b","type":"debug","name":"Radio Monitor","active":false,"complete":"false","x":417,"y":94,"z":"afbbe313.50442","wires":[]},{"id":"95f7f784.6a0808","type":"debug","name":"System Monitor","active":true,"complete":"false","x":514,"y":38,"z":"afbbe313.50442","wires":[]},{"id":"640630a5.9bf9d","type":"inject","name":"Shutdown system","topic":"","payload":"initiated!","payloadType":"string","repeat":"","crontab":"","once":false,"x":123.90908813476562,"y":44,"z":"afbbe313.50442","wires":[["ba164f4d.45e9b"]]},{"id":"ba164f4d.45e9b","type":"exec","command":"sudo shutdown -h now && echo Shutdown","append":"","useSpawn":"","name":"Shutdown","x":313.2727355957031,"y":45.5,"z":"afbbe313.50442","wires":[["95f7f784.6a0808"],[],[]]},{"id":"d3ec0245.2c14","type":"switch","name":"","property":"sensorId","rules":[{"t":"eq","v":1,"v2":0},{"t":"eq","v":2,"v2":0},{"t":"eq","v":3,"v2":0},{"t":"eq","v":4,"v2":0}],"checkall":"true","outputs":4,"x":153,"y":342,"z":"afbbe313.50442","wires":[["6c505160.93afb"],["9caf2834.6350d8","95004574.6affb8"],["33f8a23.fcc075e"],["3aa4187a.c55be8"]]},{"id":"e019442b.1fe6b8","type":"exec","command":"/home/pi/rfm12b-linux/examples/bin/rfm12b_read","append":"","useSpawn":true,"name":"RFM12b","x":269,"y":107,"z":"afbbe313.50442","wires":[["7cd65146.8329b","ca5d83b3.35a28"],[],[]]},{"id":"138f26eb.ec70d9","type":"inject","name":"Start Receving","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":114,"y":104,"z":"afbbe313.50442","wires":[["e019442b.1fe6b8"]]},{"id":"50ab4cd7.af54b4","type":"mqtt out","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":625,"y":378,"z":"afbbe313.50442","wires":[]},{"id":"ca5d83b3.35a28","type":"function","name":"Parse Radio Data","func":"var msgString = msg.payload.toString(); \n\nif (msgString.indexOf(\"failed\") != -1) {\n\terrorMsg = {payload: msgString};\n\treturn [null, errorMsg];\n}\n\n// Fetch array from buffer\nvar rawArray = msgString.split(/\\s/);\n\nvar errorMsg = null; // will populate on error\nmsg = null; // will populate if no errors\n\n// strip off preamble and final newline\nvar dataArray = rawArray.slice(11, -2);\n\nvar nodeId = dataArray[0];\nvar numBytesExpected = dataArray[1];\nvar numBytesGot = dataArray.length - 2;\nvar sensorId = dataArray[2];\nvar readings = dataArray.slice(4);\n\n// check integrity\nif (nodeId > 32) {\n\terrorMsg = {payload: 'Invalid Node Id: ' + nodeId}; \n} else if (sensorId > 15) {\n\terrorMsg = {payload: 'Invalid Sensor Id: ' + sensorId};\n} else if (numBytesExpected != numBytesGot) {\n\terrorMsg = {payload: 'Expected ' + numBytesExpected + ' bytes, got ' + numBytesGot};\n} else {\n\tmsg = {\n\t\tnodeId: nodeId,\n\t\tsensorId: sensorId,\n\t\treadings: readings\n\t}\n}\n\nreturn [msg, errorMsg];","outputs":"2","x":352.5,"y":161,"z":"afbbe313.50442","wires":[["d3c1fbde.2c3e08"],["e6b2ea90.194d18"]]},{"id":"d3c1fbde.2c3e08","type":"function","name":"Calculate readings","func":"// Array contains two readings, each occupying 2\n// elements (bytes).\n\nvar MSB = msg.readings.pop();\nvar LSB = msg.readings.pop(); \nvar secondReading = 256* parseFloat(MSB)+ parseFloat(LSB);\n\nvar MSB = msg.readings.pop();\nvar LSB = msg.readings.pop(); \nvar firstReading = 256* parseFloat(MSB)+ parseFloat(LSB);\n\nmsg.firstReading = firstReading\nmsg.secondReading = secondReading;\n\nreturn msg;","outputs":"1","x":186,"y":227,"z":"afbbe313.50442","wires":[["d3ec0245.2c14"]]},{"id":"8653f6c.f79ac08","type":"mqtt out","name":"","topic":"Voltage","broker":"817e85f1.7e8178","x":633,"y":267,"z":"afbbe313.50442","wires":[]},{"id":"e6b2ea90.194d18","type":"debug","name":"Bad Radio","active":false,"complete":"false","x":511,"y":198,"z":"afbbe313.50442","wires":[]},{"id":"9caf2834.6350d8","type":"function","name":"Scale Air Temp","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nvar temp = msg.secondReading;\nmsg.payload = temp / 10;\n\n\nreturn msg;","outputs":1,"x":409,"y":349,"z":"afbbe313.50442","wires":[["95550115.6aab"]]},{"id":"6c505160.93afb","type":"function","name":"Scale Voltage","func":"/* \n    1023 steps, 4.5 max voltage\n*/\n\nvar rawReading = msg.firstReading;\nvar voltsFloat = rawReading / 1023 * 5.16; \nmsg.payload = voltsFloat.toFixed(2);\nreturn msg;","outputs":1,"x":420,"y":263,"z":"afbbe313.50442","wires":[["8653f6c.f79ac08"]]},{"id":"95004574.6affb8","type":"function","name":"Scale Humdity","func":"msg.payload = msg.firstReading;\nreturn msg;","outputs":1,"x":406,"y":307,"z":"afbbe313.50442","wires":[["5934c1b5.a6cb4"]]},{"id":"33f8a23.fcc075e","type":"function","name":"Parse Light","func":"msg.payload = msg.firstReading;\nreturn msg;","outputs":"1","x":400,"y":399,"z":"afbbe313.50442","wires":[["50ab4cd7.af54b4"]]},{"id":"3aa4187a.c55be8","type":"function","name":"Scale Water Temp","func":"/* \n\tRaw temperature reading is ten times too big\n*/\n\nmsg.payload = msg.firstReading;\n\nreturn msg;","outputs":1,"x":415,"y":450,"z":"afbbe313.50442","wires":[["6d959071.926a7"]]},{"id":"6d959071.926a7","type":"mqtt out","name":"Water Temp","topic":"Water Temperature","broker":"817e85f1.7e8178","x":624,"y":448,"z":"afbbe313.50442","wires":[]},{"id":"cf83f19a.307c1","type":"exec","command":"/home/pi/rcswitch-pi/send 4 4 1","append":"","useSpawn":"","name":"Big light on","x":700,"y":672,"z":"afbbe313.50442","wires":[[],[],[]]},{"id":"2208f519.ddf70a","type":"exec","command":"/home/pi/rcswitch-pi/send 4 4 0","append":"","useSpawn":"","name":"Big light off","x":703,"y":587,"z":"afbbe313.50442","wires":[[],[],[]]},{"id":"56e41f8a.a91be","type":"mqtt in","name":"","topic":"Light Level","broker":"817e85f1.7e8178","x":215,"y":583,"z":"afbbe313.50442","wires":[["31e119dd.ce1ee6"]]},{"id":"31e119dd.ce1ee6","type":"switch","name":"","property":"payload","rules":[{"t":"gte","v":5,"v2":0},{"t":"lt","v":5,"v2":0}],"checkall":"false","outputs":2,"x":416,"y":583,"z":"afbbe313.50442","wires":[["2208f519.ddf70a"],["cf83f19a.307c1"]]}]